{% extends "layout.html" %}

{% block body %}
    <h2>{{ contest.name }}, for up to {{ contest.maximum_slots }} teams</h2>
    <table>
        <tr>
            <th>Team</th>
            <th>Race</th>
            <th>Coach</th>
        </tr>
        {% for c in contests %}
        <tr>
            <td><a href="{{ url_for('team_details', team_id=c.id) }}">{{ c.name }}</a></td>
            <td>{{ c.race }}</td>
            <td>{{ c.coach }}</td>
        </tr>
        {% endfor %}        
    </table>
    <a href="{{ url_for('signup_form', contest_id = contest.id) }}">Sign up for this contest!</a>
{% endblock %}