{% extends "layout.html" %}

{% block body %}
    <table>
        <tr>
            <th>Contest</th>
            <th>Acronym</th>
            <th>Resurrection Rules</th>
            <th>Teams</th>
            <th>Maximum</th>
            <th>Tournament Runner</th>
            <th></th>
            <th></th>
        </tr>
        {% for contest in contests %}
        <tr>
            <td><a href="{{ url_for('contest_details', contest_id=contest.id) }}">{{ contest.name }}</a></td>
            <td>{{ contest.acronym }}</td>
            <td>{{ contest.resurrect }}</td>
            <td>{{ contest.teams }}</td>
            <td>{{ contest.slots }}</td>
            <td>{{ contest.organiser }}</td>
            {% if current_user.is_authenticated and current_user.get_role() == ['ADMIN'] %}
            <td></td>
            <td>
                <form method="POST" action="{{ url_for('contest_delete', contest_id=contest.id) }}">
                    <input type="submit" value="DELETE!"/>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}
