{% extends "layout.html" %}

{% block body %}
    <h2>{{ team.name }}</h2>
    <h3>Match history</h3>
    <table>
        <tr>
            <th>Date</th>
            <th>Winner</th>
            <th>Loser</th>
        </tr>
        {% for m in matches %}
        <tr>
            <td>{{ m.date }}</td>
            <td>{{ m.winner }}</td>
            <td>{{ m.loser }}</td>
        </tr>
        {% endfor %}        
    </table>
    <p></p>
    <h3>Team statistics</h3>
    <table>
        <tr>
            <th>Total games played</th>
            <th>Games won</th>
            <th>Games lost</th>
            <th>Win percentage</th>
        </tr>
        <tr>
            <td>{{ total[0] }}</td>
            <td>{{ wins[0] }}</td>
            <td>{{ losses[0] }}</td>
            <td>{{ percentage[0] }}</td>
        </tr>
    </table>

{% endblock %}