{% extends "layout.html" %}

{% block body %}
<!-- 
    <ul>
    {% for team in teams %}
    <li>
        {{ team.name }} {{ team.race }} {{ team.resurrect }} {{ team.coach }} {{ team.id }}
    </li>
    {% endfor %}
    </ul>

-->
    <table>
        <tr>
            <th>Team</th>
            <th>Race</th>
            <th>Resurrection team</th>
            <th>Coach</th>
            <th>Delete team</th>
        </tr>
        {% for team in teams %}
        <tr>
            <td>{{ team.name }}</td>
            <td>{{ team.race }}</td>
            <td>{{ team.resurrect }}</td>
            <td>{{ team.coach }}</td>
            <td>
                <form method="POST" action="{{ url_for('teams_delete', team_id=team.id) }}">
                    <input type="submit" value="DELETE!"/>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>



<!--    <table>
        <tr>
            <th>Team</th>
            <th>Race</th>
            <th>Points</th>
            <th>Resurrection team</th>
            <th>Points</th>
            <th></th>
            <th>Coach</th>
            <th>Delete team</th>
        </tr>
        {% for team in teams %}
        <tr>
            <td>{{ team.name }}</td>
            <td>{{ team.race }}</td>
            <td>{{ team.points }}</td>
            <td>{{ team.resurrect }}</td>
            <td>
                <form method="POST" action="{{ url_for('teams_add_point', team_id=team.id) }}">
                    <input type="submit" value="+"/>
                </form>
            </td>
            <td>
                <form method="POST" action="{{ url_for('teams_subtract_point', team_id=team.id) }}">
                    <input type="submit" value="-"/>
                </form>
            </td>
            <td>{{ team.coach_name }}</td>
            <td>
                <form method="POST" action="{{ url_for('teams_delete', team_id=team.id) }}">
                    <input type="submit" value="DELETE!"/>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
-->

{% endblock %}
