{% extends "layout.html" %}

{% block body %}
    <table>
        <tr>
            <th>Team</th>
            <th>Race</th>
            <th>Resurrection team</th>
            <th>Coach</th>
            <th>Delete team</th>
        </tr>
        {% for team in teams %}
        <tr>
            <td>{{ team.name }}</td>
            <td>{{ team.race }}</td>
            <td>{{ team.resurrect }}</td>
            <td>{{ team.coach }}</td>
            <td>
                <form method="POST" action="{{ url_for('teams_delete', team_id=team.id) }}">
                    <input type="submit" value="DELETE!"/>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
