{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('teams_create') }}">
    <table>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
            <td>
                <ul>
                    {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.race.label }}
            </td>
            <td>
                {{ form.race }}
            </td>
            <td>
                <ul>
                    {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.resurrect.label }}
            </td>
            <td>
                {{ form.resurrect }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Add this team"/>
            </td>
        </tr>
    </table>    
</form>
{% endblock %}