{% extends "layout.html" %}

{% block body %}
    <h2>Account {{ account.username }} as Coach {{ account.name }}</h2>
    <table>
        <tr>
            <td>Id:</td><td>{{ account.id }}</td>
        </tr>
        <tr>
            <td>Name:</td><td>{{ account.name }}</td>
        </tr>
        <tr>
            <td>Username:</td><td>{{ account.username }}</td>
        </tr>
        <tr>
            <td>Role:</td><td>{{ account.role }}</td>
        </tr>
        <tr>
            <td>Created:</td><td>{{ account.date_created }}</td>
        </tr>
        <tr>
            <td>Modified:</td><td>{{ account.date_modified }}</td>
        </tr>
    </table>

{% endblock %}